$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$indoor_bg_color: #666666;

$white: #fff;

$indoor_button: #2a2a2a;

$indoor_button_hoover: #d58e32;

$black: #000;

$circle_hover: #3e3e3e;
