<div class="container"> 
    <div class="row">
           <div class="col-4"> 
            <div class="promotion_left">
             <div class="product-box">
          <div class="hot_deals">
            <div class="panel-bar">

              <div class="dots">
                <ul>
                  <li>HOT DEALS</li>                                  
                  <li><a href="#" class="active"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="product_image"></div>
              
          <div class="hover_image">
              <a href="#" class="btn-main-small">
              <i class="fa fa-shopping-basket"></i> ADD TO CART</a>
              <br>
              <div class="deals_items">
                <div class="deals">25 <br> DAYS</div>
                <div class="deals">10 <br> HRS</div>
                <div class="deals">45 <br> MINS</div>
                <div class="deals">30 <br> SECS</div>
              </div>    
            </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="old_price">$ 350.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 300.00</div></div>
          </div>
        </div>
        
            </div> 
          </div>
              <div class="col-8">
               <div class="sofa">
                  <div class="description">
                      <span>INDOOR</span> <b><span>FURNITURE</span></b> <br>
                      SAVE UP TO 50% OF ALL FURNITURE
                      <br> <button class="now"><b>SHOP NOW</b></button>
                  </div>
              </div>
              <div class="row btn_next">
                  <span class="col-6 next"> < </span>
                  <span class="col-6 next"> > </span>
            </div>
       </div>
      </div>
      <div class="row  top">
        <div class="col">
        <div class="feature-box active">
          <div class="icon"><i class="fas fa-truck"></i></div>
          <div class="content">
            <h5>Free shipping</h5>
            <p>All orders</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="feature-box">
          <div class="icon"><i class="fas fa-headphones"></i></div>
          <div class="content">
            <h5>24/7 customer</h5>
            <p>support</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="feature-box">
          <div class="icon"><i class="fas fa-reply-all"></i></div>
          <div class="content">
            <h5>Money back</h5>
            <p>guarantee</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="feature-box">
          <div class="icon"><i class="fas fa-bullhorn"></i></div>
          <div class="content">
            <h5>Member discount</h5>
            <p>First order</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
