<div class="section--features">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="#" class="feature-box-link">
          <div class="feature-box active">
            <div class="icon"><i class="fas fa-truck"></i></div>
            <div class="content">
              <h5>Free shipping</h5>
              <p>All orders</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="feature-box-link">
          <div class="feature-box">
            <div class="icon"><i class="fas fa-headphones"></i></div>
            <div class="content">
              <h5>24/7 customer</h5>
              <p>support</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="feature-box-link">
          <div class="feature-box">
            <div class="icon"><i class="fas fa-reply-all"></i></div>
            <div class="content">
              <h5>Money back</h5>
              <p>guarantee</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="feature-box-link">
          <div class="feature-box">
            <div class="icon"><i class="fas fa-bullhorn"></i></div>
            <div class="content">
              <h5>Member discount</h5>
              <p>First order</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section-sale">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 h-sale">
        <div class="sale-container">
          <img
            class="sale-img"
            src="https://images.pexels.com/photos/276566/pexels-photo-276566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=420&w=940"
            alt="sofa"
          />
          <div class="text-left-sale">
            <h2>guest room <br /><span class="bg-text">sofa</span></h2>
            <h3>-20%</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 h-sale">
        <img
          class="img-chair"
          src="https://images.pexels.com/photos/245240/pexels-photo-245240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="chair"
        />
        <div class="text-office">
          <h2><span>office </span>chair</h2>
          <h4>collection</h4>
          <p>$200.00</p>
        </div>
        <img
          class="img-special"
          src="https://images.pexels.com/photos/439227/pexels-photo-439227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=195&w=940"
          alt="special"
        />
        <div class="text-special">
          <h3><span>special </span>collection</h3>
          <h4>save up 45% of furniture</h4>
        </div>
      </div>
    </div>
  </div>
</div>
