<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li><a href="#" class="active">Bed</a></li>
            <li><a href="#">Chair</a></li>
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Dining</a></li>
          </ul>
        </div>
        <div class="col-auto dots product-dots">
          <ul class="dots product-dots-controls">
            <li><a data-nav="0"></a></li>
            <li><a data-nav="1"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="2"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="3"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="4"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="5"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="6"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="7"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row products-carousel active">
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small">
                <i class="fa fa-shopping-basket"></i> ADD TO CART
              </a>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 1</h5>
            <div class="stars">
              <a class="star full active"></a> <a class="star full active"></a>
              <a class="star full active"></a> <a class="star full active"></a>
              <a class="star full active"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="sale-price">$ 60.00</div>
              <div class="btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 2</h5>
            <div class="stars">
              <a class="star full"></a> <a class="star full"></a> <a class="star"></a>
              <a class="star"></a> <a class="star"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 3</h5>
            <div class="stars">
              <a class="star full"></a> <a class="star full"></a> <a class="star"></a>
              <a class="star"></a> <a class="star"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="sale-price">$ 50.00</div>
              <div class="btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 4</h5>
            <div class="stars">
              <a class="star full"></a> <a class="star full"></a> <a class="star"></a>
              <a class="star"></a> <a class="star"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 5</h5>
            <div class="stars">
              <a class="star full"></a> <a class="star full"></a> <a class="star"></a>
              <a class="star"></a> <a class="star"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="sale-price">$ 70.00</div>
              <div class="btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 6</h5>
            <div class="stars">
              <a class="star full"></a> <a class="star full"></a> <a class="star"></a>
              <a class="star"></a> <a class="star"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 6</h5>
            <div class="stars">
              <a class="star full"></a> <a class="star full"></a> <a class="star"></a>
              <a class="star"></a> <a class="star"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique 6</h5>
            <div class="stars">
              <a class="star full"></a> <a class="star full"></a> <a class="star"></a>
              <a class="star"></a> <a class="star"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
