<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col"></div>
        <div class="col-auto dots blog-dots">
          <ul class="dots blog-dots-controls">
            <li><a data-nav="0"></a></li>
            <li><a data-nav="1"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="2"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="3"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="4"></a></li>
            <li style="display: none" class="nav-lg"><a data-nav="5"></a></li>
          </ul>
        </div>
      </div>
    </div>
      <div class="row blog-carousel-inner active">
       <div class="post-box">
          <a href="#">
            <div class="cover">
              <img src="/images/blog/blog_1.jpg" alt="New post" />
              <div class="details">
                <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
                <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
              </div>
            </div>
            <div class="post-info">
              <h5>Products That Fight Static</h5>
              <p>
                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                vehicula, rutrum magna in, ornare enim.
              </p>
              <div class="more"><a class="btn-main" href="#">Read more</a></div>
            </div>
          </a>
        </div>
      <div class="post-box">
          <a href="#">
            <div class="cover">
              <img src="/images/blog/blog_2.jpg" alt="New post" />
              <div class="details">
                <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
                <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
              </div>
            </div>
            <div class="post-info">
              <h5>Products That Fight Static</h5>
              <p>
                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                vehicula, rutrum magna in, ornare enim.
              </p>
              <div class="more"><a class="btn-main" href="#">Read more</a></div>
            </div>
          </a>
        </div>
      <div class="post-box">
          <a href="#">
            <div class="cover">
              <img src="/images/blog/blog_3.jpg" alt="New post" />
              <div class="details">
                <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
                <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
              </div>
            </div>
            <div class="post-info">
              <h5>Products That Fight Static</h5>
              <p>
                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                vehicula, rutrum magna in, ornare enim.
              </p>
              <div class="more"><a class="btn-main" href="#">Read more</a></div>
            </div>
          </a>
      </div>
     <div class="post-box">
          <a href="#">
            <div class="cover">
              <img src="/images/blog/blog_1.jpg" alt="New post" />
              <div class="details">
                <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
                <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
              </div>
            </div>
            <div class="post-info">
              <h5>Products That Fight Static</h5>
              <p>
                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                vehicula, rutrum magna in, ornare enim.
              </p>
              <div class="more"><a class="btn-main" href="#">Read more</a></div>
            </div>
          </a>
        </div>
      <div class="post-box">
          <a href="#">
            <div class="cover">
              <img src="/images/blog/blog_2.jpg" alt="New post" />
              <div class="details">
                <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
                <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
              </div>
            </div>
            <div class="post-info">
              <h5>Products That Fight Static</h5>
              <p>
                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                vehicula, rutrum magna in, ornare enim.
              </p>
              <div class="more"><a class="btn-main" href="#">Read more</a></div>
            </div>
          </a>
        </div>
      <div class="post-box">
          <a href="#">
            <div class="cover">
              <img src="/images/blog/blog_3.jpg" alt="New post" />
              <div class="details">
                <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
                <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
              </div>
            </div>
            <div class="post-info">
              <h5>Products That Fight Static</h5>
              <p>
                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                vehicula, rutrum magna in, ornare enim.
              </p>
              <div class="more"><a class="btn-main" href="#">Read more</a></div>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>
