<div class="section-feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="quote-icon"><i class="fas fa-quote-right"></i></div>
      <div class="text-feedback">
        <p class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto expedita,
          illum aspernatur magnam vel deleniti, repudiandae vero corrupti ducimus nihil
          quasi exercitationem eius asperiores culpa. Eveniet officiis quos commodi
          veritatis?
        </p>
      </div>
      <div class="image-feedback">
        <img src="../src/images/happy-clients.jpg" alt="" />
        <div class="text-right-image-feedback">
          <p class="client-name">John Smith</p>
          <p class="client-type">Future clients</p>
        </div>
      </div>
    </div>
  </div>
</div>
