<div class="section-gallery container">
  <div class="left-section">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Furniture Gallery</h3></div>
      </div>
    </div>
    <div class="container-menu-content-sllider">
      <div class="menu-gallery">
        <ul>
          <li>Featured</li>
          <li>Top Seller</li>
          <li>Sale OFF</li>
          <li>Top Rated</li>
        </ul>
      </div>
      <div class="content-gallery">
        <div class="outlines">
          <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
          <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
          <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
          <a href="#" class="btn-outline"
            ><i class="fas fa-shopping-basket"> <div class="alert"></div> </i
          ></a>
        </div>
        <img src="../src/images/fotel.png" alt="" class="img-content" />
        <div class="prince-content">
          <p class="present-price">$120.00</p>
          <p class="old-prince">$160.00</p>
        </div>
        <div class="title-content">
          <p class="title-product-content">Aeneon Ru Bristique</p>
          <div class="stars-title-content">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="far fa-star"></i> <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="left-arrow-gallery"><i class="fas fa-angle-left"></i></div>
        <div class="content-slider-gallery">
          <div class="overlay-image-slider">
            <img
              class="image-gallery-slider activ-slider"
              src="../src/images/fotel.png"
              alt=""
            />
          </div>
          <div class="overlay-image-slider">
            <img class="image-gallery-slider" src="../src/images/fotel.png" alt="" />
          </div>
          <div class="overlay-image-slider">
            <img class="image-gallery-slider" src="../src/images/fotel.png" alt="" />
          </div>
          <div class="overlay-image-slider">
            <img class="image-gallery-slider" src="../src/images/fotel.png" alt="" />
          </div>
          <div class="overlay-image-slider">
            <img class="image-gallery-slider" src="../src/images/fotel.png" alt="" />
          </div>
          <div class="overlay-image-slider">
            <img class="image-gallery-slider" src="../src/images/fotel.png" alt="" />
          </div>
        </div>
        <div class="right-arrow-gallery"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="text">
      <div class="text-horizontal">
        <p class="from-text-gallery">From</p>
        <p class="text-prince">$50.80</p>
      </div>
      <p class="text-title">Bedroom Bed</p>
      <button><span>Shop Now</span></button>
    </div>
    <img src="../src/images/lozko.png" alt="" class="right-image-section" />
  </div>
</div>
