<div class="container brands-container">
  <div class="carousel slide" id="brands-carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
        <div>
          <img class="img-brand" src="../src/images/logo.png" alt="brand slide" />
        </div>
      </div>
    </div>

    <div class="slider-controls">
      <a class="carousel-control-prev" href="#brands-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#brands-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
