.transition-items {
  transition: transition-duration 0.25s, background-color 0.25s, color 0.25s,
    opacity 0.25s;
}
.btn-main {
  @extend .transition-items;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.no-hover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.btn-main-small {
  @extend .btn-main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.btn-outline {
  @extend .transition-items;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;

  &:hover {
    background-color: #2a2a2a;
    color: $whiteText;
  }

  &.active {
    background-color: $primary;
    color: $whiteText;
  }
}
