.post-box {
  margin-bottom: 2rem;

  .cover {
    img {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: auto;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;
      color: $black;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
      }

      .comments {
        text-align: right;
      }
    }
  }

  .post-info {
    padding: 25px;

    h5 {
      color: $black;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103, 103, 103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;

      .btn-main {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
  &:hover {
    a {
      text-decoration: none;
      cursor: pointer;
    }
    .details {
      color: $blog-post-details-color;
    }
    h5 {
      color: $primary;
    }
    .btn-main {
      background-color: $primary;
      color: #fff;
    }
  }
  &:hover {
    a {
      text-decoration: none;
      cursor: pointer;
    }
    .details {
      color: $blog-post-details-color;
    }
    h5 {
      color: $primary;
    }
    .btn-main {
      background-color: $primary;
      color: #fff;
    }
  }
}
