.section--features {
  padding: 5rem 0;
}

.promotion_left{
	flex-grow: 1;
	min-width: 33%;
	height: 525px;
}

.promotion_right{
	flex-grow: 2;
	height: 525px;
}

.description{
	position: absolute;
	text-align: center;	
	margin-top: 150px;
	color: $white;
	background-color: rgba($indoor_bg_color,0.5);
	height: 33%;
	width: 96%;
	
	font-size: 24px;

	span{
		font-size: 54px;
	}
}


.sofa{
	background-image: url('../images/sofa.jpg');
	height: 500px;
	background-repeat: no-repeat;
	text-align: center;
	background-size: cover;
}


.now{
	font-size: 12px;
	height: 40px;
	width: 100px;
	margin-top: 40px;
}

.btn_next{
	padding:0 2%;
}

.next{
	color: $white;
	background-color: $indoor_button;
	padding: 0 25%;

	&:hover{
		background-color: $indoor_button_hoover;
	}
}

.hot_deals{
	height: 50px;
	color: $white;
	background-color: $indoor_button;
	font-size: 20px;

	.dots{
		ul{
			background-color: $indoor_button;
		}
		
	}

	ul{
		width: 100%;
		color: $white;

		li{
			border:none;
			
			&:nth-child(2){
				padding-left: 30%;
			}

		}
	}

}

.old_price{
	margin-left: 15%;
	font-size: 12px;
	text-decoration: line-through;
}


.product_image{
	width: 100%;
	height: 315px;
	background-image: url('../images/chair.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center center;
}

.hover_image{
	opacity: 0;
	height: 425px;
	width: 350px;
	padding-top: 200px;
	position: absolute;
	top: 50px;

	a{
		margin-left: 35%;
	}
}

.deals_items{
	display: flex;
	padding: 30px 20px;
	justify-content: space-between; 
}

.deals{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	text-align: center;
	padding-top: 10px;
	background-color: $circle_hover;
	color: $white;
}

.hover_image:hover{
	opacity: 1;
}

.top{
	margin-top: 50px;
}